	
It might seem crazy what I’m about to say
Sunshine she’s here, you can take away
I’m a hot air balloon that could go to space
With the air, like I don’t care baby by the way

Chorus:
Because I’m happy
Clap along if you feel like a room without a roof
Because I’m happy
Clap along if you feel like happiness is the truth
Because I’m happy
Clap along if you know what happiness is to you
Because I’m happy
Clap along if you feel like that’s what you wanna do

Verse 2:
Here come bad news talking this and that
Yeah, give me all you got, don’t hold back
Yeah, well I should probably warn you I’ll be just fine
Yeah, no offense to you don’t waste your time
Here’s why

Chorus:
Because I’m happy
Clap along if you feel like a room without a roof
Because I’m happy
Clap along if you feel like happiness is the truth
Because I’m happy
Clap along if you know what happiness is to you
Because I’m happy
Clap along if you feel like that’s what you wanna do

Happy, come on, bring me down
Happy, come on, bring me down
Love is too happy to bring me down
Come on, bring me down
I said bring me down
Come on, bring me down
Love is too happy to bring me down
Come on, bring me down
I said

Chorus:
Because I’m happy
Clap along if you feel like a room without a roof
Because I’m happy
Clap along if you feel like happiness is the truth
Because I’m happy
Clap along if you know what happiness is to you
Because I’m happy
Clap along if you feel like that’s what you wanna do

Chorus:
Because I’m happy
Clap along if you feel like a room without a roof
Because I’m happy
Clap along if you feel like happiness is the truth
Because I’m happy
Clap along if you know what happiness is to you
Because I’m happy
Clap along if you feel like that’s what you wanna do

Happy, come on, bring me down
Happy, come on, bring me down
Love is too happy to bring me down
Come on, bring me down
I said bring me down
Come on, bring me down
Love is too happy to bring me down
Come on, bring me down
I said

Chorus:
Because I’m happy
Clap along if you feel like a room without a roof
Because I’m happy
Clap along if you feel like happiness is the truth
Because I’m happy
Clap along if you know what happiness is to you
Because I’m happy
Clap along if you feel like that’s what you wanna do

Chorus:
Because I’m happy
Clap along if you feel like a room without a roof
Because I’m happy
Clap along if you feel like happiness is the truth
Because I’m happy
Clap along if you know what happiness is to you
Because I’m haWpy
Clap along if you feel like that’s what you wanna do
Đó có vẻ là điều điên rồ mà tôi sắp nói 
Sự rạng rỡ của cô ấy ở đây, bạn có thể lấy đi
Tôi là một khinh khí cầu có thể đi vào không gian
Với không khí, như tôi không quan tâm em bằng cách này

Điệp khúc:
Bởi vì tôi thấy hạnh phúc
Vỗ tay nào, nếu bạn cảm thấy giống như một căn phòng không có mái
Bởi vì tôi thấy hạnh phúc
Vỗ tay nào, nếu bạn cảm thấy như hạnh phúc là đúng
...
